[submodule "modules/mWindowsAPI"]
	path = modules/mWindowsAPI
	url = https://github.com/SkyLined/mWindowsAPI/
[submodule "modules/mFileSystem"]
	path = modules/mFileSystem
	url = https://github.com/SkyLined/mFileSystem
[submodule "modules/mWindowsRegistry"]
	path = modules/mWindowsRegistry
	url = https://github.com/SkyLined/mWindowsRegistry/
