[submodule "modules/mWindowsAPI"]
	path = modules/mWindowsAPI
	url = https://github.com/SkyLined/mWindowsAPI/
[submodule "modules/mFileSystem"]
	path = modules/mFileSystem
	url = https://github.com/SkyLined/mFileSystem
[submodule "mProductVersionAndLicense"]
	path = mProductVersionAndLicense
	url = https://github.com/SkyLined/mProductVersionAndLicense/
[submodule "modules/mProductVersionAndLicense"]
	path = modules/mProductVersionAndLicense
	url = https://github.com/SkyLined/mProductVersionAndLicense/
